.container {
    margin: 20px;
  }
  
  h2 {
    margin-bottom: 10px;
  }
  
  form label {
    margin-bottom: 10px;
  }
  
  button {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
  }
  
  .button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
  
  .tableContainer {
    margin-top: 20px;
  }
  
  .MuiTableCell-head {
    background-color: black;
    color: white;
  }